.forgot{
    height: 100vh;
    background: linear-gradient(45deg, rgb(53, 37, 228), pink);
    display: flex;
    align-items: center;
    justify-content: center;
       
       .card{
           width: 25%;
           display: flex;
           background-color: white;
           border-radius: 10px;
           min-height: 400px;
           overflow: hidden;
   
            .right{
                flex: 1;
                padding: 50px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                justify-content: center;
                h1{
                    color:#555;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    input{
                        border: none;
                        border-bottom: 1px solid lightgray;
                        padding: 20px 10px;
                    }  
                    span{
                        color:#555;
                    } 
                    button{
                        width: 50%;
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: #938eef;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                    }
    }
}
}
}